.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  margin: 0;
  padding: 0;
  background: goldenrod;
}
nav{
  height: 10vh;
  background: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-link{
  color: white;
  margin: 1rem;
  text-decoration: none;
}
.nav-link:hover{
  color: orange;
}
nav .active{
  color: aqua;
}
h1{
  text-align: center;
}
p{
  margin: 40px;
  padding: 20px;
  background: #282c34;
  color: gray;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid gray;
}
button{
  cursor: pointer;
  padding: 20px 40px;
  margin-left: 45%;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 25px;
}
button:hover{
  background: green;
  transition: .5s;
}